//網頁字體
$chFont: "Noto Sans TC";
$engFont: "Inter";

//文字字級
$h1: 1.9375rem;
$h2: 1.75rem;
$h3: 1.5625rem;
$h4: 1.375rem;
$h5: 1.1875rem;
$h6: 1rem;

$infoSize:1rem;
$titleSize: 1.625rem; //26px

$blackshadow: #9b9b9b;
$tableline:#bdbdbd;
$tablebg: #ececec;

//基本顏色設置 -> 樣板顏色請至_colorMode.scss檔案設定
$maincolor: #1eb0ac;
$mainhovercolor: #179191;
$subcolor:#2497e4;
$subhovercolor:#2081c2;
$darkfontcolor: #394149;
$lightfontcolor: #88929b;
$lightborder: #d0dbe4;
$warning: #d63737;
$warningHover: #a12b2b;

$tagbgcolor:#dde4e9;
$tagbghovercolor:#bfc6ca;

$lighthoverbg:#eaeef1;




